<mat-toolbar color="primary" style="display: flex; justify-content: space-between">
    <span>
      <button mat-button routerLink="/">{{ title }}</button>
    </span>
  <div>

    <button mat-button routerLink="/login" *ngIf="!isLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/register" *ngIf="!isLoggedIn">
      <mat-icon>assignment_ind</mat-icon>
      Register
    </button>
    <button mat-button *ngIf="isLoggedIn && router.url.includes('dashboard')" (click)="startProgram()">
      <mat-icon>play_arrow</mat-icon>
      Start Program
    </button>
    <button mat-button *ngIf="isLoggedIn && router.url.includes('dashboard')" (click)="openAddAvailabilityDialog()">
      <mat-icon>alarm</mat-icon>
      Add availability
    </button>
    <button mat-button *ngIf="isLoggedIn && router.url.includes('dashboard')" (click)="openAddMeetingDialog()">
      <mat-icon>add_task</mat-icon>
      Add meeting
    </button>
    <button mat-button routerLink="/dashboard" *ngIf="isLoggedIn">
      <mat-icon>calendar_today</mat-icon>
      Dashboard
    </button>
    <button mat-button routerLink="/" *ngIf="isLoggedIn " (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
